/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  @include reset;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  background-color: $bg-color-primary;
}

h1,
h2,
h3 {
  font-weight: 400;
}
