/* здесь используйте глобальные переменные */
$text-color-primary: #444444;
$text-color-secondary: #000000;
$text-color-third: #ffffff;
$text-color-fourth: #111111;
$text-color-fifth: #222222;

$bg-color-primary: #ffffff;
$bg-color-secondary: #68b738;
$bg-color-third: #f2f2f2;
$bg-color-fourth: #eaeaea;
