/* здесь используйте глобальные переменные */
$text-color-primary: #444444;
$text-color-secondary: #000000;
$text-color-third: #ffffff;
$text-color-fourth: #111111;
$text-color-fifth: #222222;

$bg-color-primary: #ffffff;
$bg-color-secondary: #68b738;
$bg-color-third: #f2f2f2;
$bg-color-fourth: #eaeaea;

$other-color-1: #e6e6e6;
$other-color-2: #666666;
$other-color-3: #d9d9d9;
$other-color-4: #d3d3d3;
$other-color-5: #ebebeb;
$other-color-6: #cdcdcd;
$other-color-7: #5eaa2f;
$other-color-8: #e7e7e7;
$other-color-9: #ff8282;
$other-color-10: #3e3e3e;
$other-color-11: #6b6b6b;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
