.button {
  font-family: $secondary-font;
  color: $text-color-third;
  background-color: $bg-color-secondary;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 20px;
  display: block;
}

.button--more {
  color: $text-color-primary;
  background-color: $bg-color-third;
}
