.catalog {
  font-family: $secondary-font;
}

.catalog__headline {
  font-size: 36px;
  line-height: 36px;
  color: $text-color-secondary;
}

.catalog__link {
  text-decoration: none;
}

.catalog__title {
  font-size: 16px;
  line-height: 20px;
  color: $text-color-fifth;
  text-transform: uppercase;
}

.catalog__title--more {
  color: $text-color-fourth;

  &::before {
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../../icons/stack.svg#plus");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
  }
}

.catalog__text--more {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  color: $text-color-primary;
}
