.cooperation {
  min-height: 112px;

  @media (min-width: $tablet-width) {
    min-height: 200px;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
    width: 100%;
  }
}

.cooperation__wrapper {
  display: flex;
  justify-content: space-between;
  width: 320px;
  padding: 26px 0;
  margin: auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 61px 40px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    background-color: $bg-color-primary;
    width: 565px;
    min-height: 199px;
    margin: 0;
    z-index: 2;
    padding: 60px 78px 60px 80px;
    top: 95px;
  }
}

.cooperation__title {
  @include reset;
  font-family: $secondary-font;
  color: $text-color-fourth;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.cooperation__address {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 20px;
  color: $text-color-primary;
  font-style: normal;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }

  & span {
    @include reset;

    @media (min-width: $tablet-width) {
      text-align: end;
      font-size: 16px;
    }

    @media (min-width: $desktop-width) {
      text-align: start;
    }
  }
}
