.developer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.developer__link {
  text-decoration: none;
  color: $text-color-primary;
  display: flex;
  width: 280px;
  height: 34px;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 168px;
  }
}

.developer__link::after {
  content: "";
  display: block;
  width: 27px;
  height: 34px;
  mask-image: url("../../icons/stack.svg#html-academy");
  background-color: $other-color-2;
  top: 0;
  right: 0;
}
