.example {
  background-color: $bg-color-fourth;
  color: $text-color-primary;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $bg-color-primary 619px, $bg-color-fourth 619px);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to bottom, $bg-color-primary 135px, $bg-color-fourth 135px);
  }
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    padding-top: 20px;
    border-top: 1px solid $other-color-1;
    min-height: 1081px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 0;
    border: none;
    min-height: 598px;
  }
}

.example__headline {
  @include reset;
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $text-color-secondary;
  margin-bottom: 40px;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 146px;
  }
}

.example__discription {
  @include reset;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 69px;
  }
}

.example__stats {
  @media (min-width: $tablet-width) {
    max-width: 708px;
    margin: auto;
    margin-bottom: 99px;
  }

  @media (min-width: $desktop-width) {
    max-width: 433px;
    margin: 0 0 75px;
  }
}

.example__statistics {
  @include reset;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.example__expenses {
  @include reset;
  display: flex;
  justify-content: center;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  color: $text-color-secondary;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 9px;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding-top: 11px;
    padding-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 63px;
    padding: 0%;
  }
}
