.main-header {
  display: flex;
  align-items: center;
  min-height: 65px;

  @media (min-width: $tablet-width) {
    min-height: 50px;
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    min-height: 59px;
    padding-top: 55px;
    align-items: flex-end;
  }
}

@media (max-width: 767px) {
  .main-header--noscript {
    flex-direction: column;
  }
}
