.present {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 290px;
  background-image:
    linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../../images/catalog-products-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../../images/catalog-products-background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    min-height: 200px;
    background-image:
      linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../../images/catalog-products-background-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../../images/catalog-products-background-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 288px;

    background-image:
      linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../../images/catalog-products-background-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../../images/catalog-products-background-desktop@2x.jpg");
    }
  }
}

.present__text {
  @include reset;
  display: flex;
  flex-direction: column;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-third;
  text-align: center;
  position: relative;
  margin-top: 15px;

  &::before {
    display: block;
    position: relative;
    text-align: center;
    content: "";
    width: 78px;
    height: 80px;
    background-image: url("../../icons/stack.svg#gift");
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 48px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    width: 456px;
    justify-content: space-between;
    margin-top: 0;
    text-align: left;

    &::before {
      width: 80px;
      height: 83px;
      left: -47px;
      top: -2px;
      transform: none;
      margin: 0;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 100%;
    text-align: center;

    &::before {
      margin-bottom: 46px;
      margin-top: 16px;
      left: 1px;
    }
  }
}
