.present {
  min-width: 280px;
  height: 290px;
  background-image:
    linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../../images/catalog-products-background-mobile@2x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, auto 100%;
}

.present__text {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-third;
}
