.properties {
  display: flex;
  justify-content: space-between;
  font-family: $primary-font;
  color: $text-color-primary;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}
