.site-nav {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .site-nav--noscript {
    width: 100%;
  }
}

.site-nav__list {
  @include reset;
  list-style: none;
  background-color: $bg-color-primary;
  display: none;

  @media (max-width: 767px) {
    &--opened {
      position: absolute;
      top: 64px;
      left: 0;
      min-width: 100%;
      display: block;
      z-index: 1;
    }

    &--noscript {
      flex-direction: column;
      width: 100%;
      position: relative;
      top: 0;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 33px;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}


.site-nav__link {
  display: block;
  font-family: $secondary-font;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  color: $text-color-secondary;
  padding: 22px 20px 24px;
  text-align: center;
  border-top: 1px solid $other-color-1;

  @media (min-width: $tablet-width) {
    padding: 15px 0;
    font-size: 18px;
    line-height: 24px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    border: none;
    color: $text-color-third;
  }
}
