.social {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
  }
}

.social__list {
  @include reset;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;

  @media (min-width: $tablet-width) {
    gap: 24px;
    padding: 20px;
  }
}

.social__link {
  display: block;
  content: "";
  mask-image: var(--icons);
  background-color: $other-color-2;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-color: $bg-color-secondary;
  }

  &:focus {
    background-color: $bg-color-secondary;
  }

  &:active {
    background-color: $bg-color-secondary;
    opacity: 0.3;
  }
}

.social__link--vkontakte {
  width: 28px;
  height: 18px;
  --icons: url("../../icons/stack.svg#vk");
}

.social__link--youtube {
  width: 28px;
  height: 18px;
  --icons: url("../../icons/stack.svg#youtube");
}

.social__link--telegram {
  width: 28px;
  height: 18px;
  --icons: url("../../icons/stack.svg#telegram");
}
