.stats {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.stats__list {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.stats__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  &--weight {
    margin-right: 32px;
  }

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;

    &--weight {
      margin-right: 43px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;

    &--weight {
      margin-right: 42px;
    }
  }
}

.stats__number {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 15px 0 18px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.stats__discription {
  @include reset;
  display: block;
  color: $text-color-primary;
  font-size: 12px;
  line-height: 12px;
  width: 77px;
  text-align: center;
  position: absolute;
  left: 22px;
  top: 46px;
  background-color: $bg-color-fourth;

  @media (min-width: $tablet-width) {
    background-color: $bg-color-primary;
    font-size: 14px;
    line-height: 14px;
    top: 63px;
  }

  @media (min-width: $desktop-width) {
    background-color: $bg-color-fourth;
  }
}

@media (min-width: $tablet-width) {
  .stats__discription--weight {
    width: 114px;
    left: 24px;
  }

  .stats__discription--time {
    width: 142px;
    left: 10px;
  }
}
