.subscribe {
  position: relative;

  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $bg-color-secondary;
    top: 12px;
  }
}

.subscribe__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 104px;
  }
}

.subscribe__headline {
  @include reset;
  display: inline-block;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: $text-color-secondary;
  background-color: $bg-color-primary;
  position: relative;
  left: -20px;
  padding: 0 40px 0 20px;
  box-sizing: content-box;
  margin-bottom: 32px;
  align-self: flex-start;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    left: 0;
    padding-left: 40px;
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    left: -40px;
  }
}

.subscribe__text {
  @include reset;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  color: $text-color-secondary;
  margin-bottom: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 632px;
    font-size: 24px;
    line-height: 32px;
    padding: 0 38px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 0 38px;
  }

  @media (min-width: $desktop-width) {
    width: 752px;
    padding: 0;
  }
}

.subscribe__label {
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 496px;
  }
}

.subscribe__mail {
  width: 100%;
  height: 56px;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 29px;
  color: $text-color-primary;
  margin-bottom: 16px;
  border: 1px solid $other-color-6;
  padding: 13px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.subscribe__mail::placeholder {
  color: $text-color-primary;
  text-transform: uppercase;
}

.subscribe__button {
  width: 100%;
  height: 56px;
  font-size: 20px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    width: 256px;
  }
}
